---
const classNamePrefix = "menu";

---

<nav class=`${classNamePrefix}` slot="menu">
  <ul class=`${classNamePrefix}__items`>
    <li class=`${classNamePrefix}__item`>
      <a href="/">Home</a>
    </li>
    <li class=`${classNamePrefix}__item`>
      <a href="/">About</a>
    </li>
    <li class=`${classNamePrefix}__item`>
      <a href="/">Contact</a>
    </li>
    <li class=`${classNamePrefix}__item`>
      <a href="/">Blog</a>
    </li>
    <li class=`${classNamePrefix}__item`>
      <a href="/">Careers</a>
    </li>
  </ul>
</nav>
